<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.ysc.graduation.project.web.admin.dao.UserInfoDao">
    <select id="getUserInfoByEmail" resultType="UserInfo">
        SELECT *
        FROM
        user_info AS a
        WHERE
        a.email = #{email}
    </select>
    
    <select id="updateUserInfoByEmail" >
        UPDATE user_info
        SET
        <if test="username !=null and username !=''">
            username = #{username},
        </if>
        <if test="namePinyin !=null and namePinyin !=''">
            name_pinyin = #{namePinyin},
        </if>
        <if test="englishName !=null and englishName !=''">
            english_name = #{englishName},
        </if>
        <if test="password !=null and password !=''">
            password = #{password},
        </if>
        <if test="pic !=null and pic !=''">
            pic = #{pic},
        </if>
        <if test="phone !=null and phone !=''">
            phone = #{phone},
        </if>
        <if test="graduatedSchool !=null and graduatedSchool !=''">
            graduated_school = #{graduatedSchool},
        </if>
        <if test="education !=null and education !=''">
            education = #{education},
        </if>
        <if test="academicDegree !=null and academicDegree !=''">
            academic_degree = #{academicDegree},
        </if>
        <if test="incumbencyInformation !=null and incumbencyInformation !=''">
            incumbency_information = #{incumbencyInformation},
        </if>
        <if test="company !=null and company !=''">
            company = #{company},
        </if>
        <if test="position1 !=null and position1 !=''">
            position1 = #{position1},
        </if>
        <if test="mainPosts !=null and mainPosts !=''">
            main_posts = #{mainPosts},
        </if>
        <if test="otherPosts !=null and otherPosts !=''">
            other_posts = #{otherPosts},
        </if>
        updated = #{updated}
        WHERE email = #{email}
    </select>
</mapper>